<!doctype html>
<html lang="en">
    <head>
        <meta chatset="utf-8">
        <title>Login - <%= siteTitle %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body class="p-login">
        <form
            class="c-container p-login__container"
            action="/login"
            method="post"
        >
            <h1 class="c-container__title"><%= siteTitle %></h1>
            <input
                autofocus
                class="c-field"
                name="username"
                placeholder="Username"
                type="text"
            />
            <input
                class="c-field"
                name="password"
                placeholder="Password"
                type="password"
            />
            <div class="c-container__right">
                <input
                    class="c-button"
                    type="submit"
                    value="Log In"
                />
            </div>
        </form>
        <script>
            document.querySelector('form').action += window.location.hash;
        </script>
    </body>
</html>
