<!doctype html>
<html lang="en">
    <head>
        <meta chatset="utf-8">
        <title>Quick Store - <%= siteTitle %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/style.css" type="text/css" rel="stylesheet" />
        <style>
            .p-message__container {
                text-align: center;
            }
        </style>
    </head>
    <body class="p-message">
        <div class="c-container p-message__container">
            <p><%= message %></p>
        </div>
    </body>
</html>
