@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
    align-items: center;
    background: #f4f4f4;
    display: flex;
    color: #222;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0;
    justify-content: center;
}

    .c-container {
        background: white;
        box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12),
            0 1px 5px 0 rgba(0, 0, 0, 0.2)
        ;
        display: flex;
        flex-direction: column;
        padding: 24px;
        min-width: 250px;
        max-width: 450px;
    }

        .c-container__title {
            font-weight: normal;
            margin-top: 0;
        }

        .c-container__field {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            font-size: 1.1em;
            line-height: 20px;
            margin-bottom: 15px;
            padding: 5px 0;
            position: relative;
        }

        .c-container__field:focus,
        .c-container__field:active {
            border-bottom-width: 2px;
            border-color: #4285f4;
            outline: none;
            padding-bottom: 4px;
        }

        .c-container__checkbox {
            align-items: center;
            display: flex;
            margin-bottom: 15px;
        }

        .c-container__checkbox__label {
            font-size: 1.1em;
            flex: 1;
            line-height: 20px;
            padding: 5px 0;
            position: relative;
        }

        .c-container__checkbox__input {
            border: none;
        }

        .c-container__right {
            display: flex;
            justify-content: flex-end;
        }

        .c-container__button {
            background-color: #4285f4;
            border: none;
            border-radius: 2px;
            box-shadow:
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2)
            ;
            color: white;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: bold;
            padding: 8px 20px;
            text-transform: uppercase;
        }

        .c-container__button:hover,
        .c-container__button:focus,
        .c-container__button:active {
            background-color: #2a56c6;
            box-shadow:
                0 2px 2px 0 rgba(0, 0, 0, 0.24),
                0 3px 1px -2px rgba(0, 0, 0, 0.22),
                0 1px 5px 0 rgba(0, 0, 0, 0.12)
            ;
            outline: none;
        }
